{% extends 'base.html' %}

{% block content %}
    <section>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="height: 50%">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="height: 700px ">
              <div class="carousel-item active">
                <img src="{{url_for('static', filename='rec.jpg')}}" class="d-block w-100, image-container" alt="..." style="width: 100%; transform: translatey(-20%)">
                <div class="shadow">
                    <h3 class="banner-text">Recommendations</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename='rel.jpg')}}" class="d-block w-100 image-container" alt="..." style="width: 100%; transform: translatey(-50px)">
                <div class="shadow">
                    <h3 class="banner-text">Reliability</h3>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename='ship.jpg')}}" class="d-block w-100 image-container" alt="..." style="width: 100%; transform: translatey(-45px)">
                <div class="shadow">
                    <h3 class="banner-text">Fast Shipping</h3>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <section>
        <div id="card-space" >
            <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='pexels-mayim-luna-13615030.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reccommended</h5>
                <p class="card-text">Shop for items personally catered to your tastes.</p>
                <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='rel1.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Reliability</h5>
                <p class="card-text">Want a trusted source? Shop from reliable sources based on historical customer satisfaction.</p>
                <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='pack.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fast Shipping</h5>
                <p class="card-text">Hate waiting? Look through reccommended products that arrive in lightspeed time!</p>
                <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
            </div>
        </div>
    </section>
{% endblock %}